@font-face {
  font-family: airfryer;
  src: url(airfryer2.otf);
}

@font-face {
  font-family: rodinpro;
  src: url(rodinpro.otf);
}

@font-face {
  font-family: roboto;
  src: url(RobotoMono-Regular.ttf);
}

@font-face {
  font-family: audible2;
  src: url(AudibleSans-Rg.woff);
}

@font-face {
  font-family: audible1;
  src: url(AudibleSans-Lt.woff);
}

.audible {
  font-family: audible2;
}

.taudible {
  font-family: audible1;
}

.main-font {
  font-family: airfryer;
}

.casual-font {
  font-family: rodinpro !important;
}

.classy-font {
  font-family: roboto !important;
}
